/* HEADER */
.index-header {
    padding: 1rem;
    @extend %flexColumn;
    gap: 1rem;
}

.logo {
    height: 3.5rem;
    width: 3.5rem;
}

.nav-principal {
    background-color: $colorArena;
}

.h1-nav {
    text-transform: capitalize;
    font-family: $font-titulo !important;
    font-size: 1.5rem;
}

.parrafo-principal {
    padding: 0 1rem;
}